@{
    ViewData["Title"] = "選択(部門)";
}

<div class="text-center mt-5">
    <h1 class="display-4">部門管理メニュー</h1>
    <p class="lead">下のボタンから操作を選択してください。</p>

    <div class="d-flex flex-column align-items-center gap-3 mt-4 mx-auto" style="width:350px;">
        <a class="btn btn-primary btn-lg w-100" asp-controller="DepartmentRegister" asp-action="Enter">
            🆕 &ensp; 部門を新規登録する
        </a>
        <a class="btn btn-primary btn-lg w-100" asp-controller="AllDepartment" asp-action="Show">
            👀 &ensp; 部門一覧を表示する
        </a>
        <a class="btn btn-primary btn-lg w-100" asp-controller="DepartmentUpdate" asp-action="Enter">
            🔄 &ensp; 部門情報を変更する
        </a>
    </div>
    <div>
        <a asp-action="Index" asp-controller="Home" class="btn btn-secondary mt-3 ms-2">
            戻る
        </a>
    </div>
</div>
