@{
    ViewData["Title"] = "選択(社員)";
}

<div class="text-center mt-5">
    <h1 class="display-4">社員管理メニュー</h1>
    <p class="lead">下のボタンから操作を選択してください。</p>

    <div class="d-flex justify-content-center gap-3 mt-4">
        <a class="btn btn-primary btn-lg" asp-controller="EmployeeRegister" asp-action="Enter">
            社員登録を始める
        </a>
        <br>
        <a class="btn btn-primary btn-lg" asp-controller="AllEmployee" asp-action="Show">
            社員一覧を表示する
        </a>
    </div>
    <div>
        <a asp-action="Index" asp-controller="Home" class="btn btn-secondary mt-3 ms-2">
            戻る
        </a>
    </div>
</div>
